{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card" style="width: 18rem;">
    <img src="{% static 'img/books.jpg' %}" class="card-img-top" alt="scheduling_pic">
    <div class="card-body">
        <h5 class="card-title">Course Scheduling App</h5>
        <p class="card-text">This application is used by departments to schedule courses for future semesters.</p>
        <a href="/scheduling/home" class="stretched-link"></a>
    </div>
</div>

{% endblock content %}
