{% extends "base.html" %} {% block content %}

<h1>Account Settings</h1>
<hr />
<!-- <h4 style="
    display: block;
    background-color: #1d2a57;
    color: white;
    border-radius: 4px;
  ">
    Scheduling
</h4>
<form method="POST">
    {% csrf_token %} {{ form }}
    <button type="submit" class="btn btn-primary">Go</button>
</form>
<br />

<h5>Subjects you are working on:</h5>
{% if subjects %}
<ul>
    {% for subject in subjects %}
    <li>{{ subject }}</li>
    {% endfor %}
</ul>
{% else %}
<p>Pick subjects you want to work on by starting typing above.</p>
{% endif %}
<br />
{{ form.media.js }}

<br /> -->

<h1>Coming soon...</h1>
{% endblock content %}
