astroid==2.3.3
autopep8==1.5.2
Django==2.2
django-appconf==1.0.4
django-select2==7.2.3
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
numpy==1.18.3
pandas==1.0.3
psycopg2==2.8.5
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyodbc==4.0.30
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
wrapt==1.11.2
