astroid==2.3.3
autopep8==1.5.2
Django==2.2.13
django-appconf==1.0.4
django-filter==2.3.0
django-select2==7.2.3
djangorestframework==3.11.0
gunicorn==20.0.4
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
numpy==1.18.3
pandas==1.0.3
psycopg2-binary==2.8.5
pycodestyle==2.5.0
pylint==2.4.4
pylint-django==2.0.15
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
whitenoise==5.0.1
wrapt==1.11.2
