<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Grayson College Apps</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-nav">

    <div class="nav-item text-nowrap">    
    {% if user.is_authenticated %}
        <span class="p-2 text-white">{{ user.username }}</span>
    {% endif %}

    {% if user.is_authenticated %}
      <span class="nav-bar text">
          <a href="/logout" role="button" class="btn btn-primary">Logout</a>
      </span>
    {% else %}
      <span class="nav-bar text">
          <a href="/login" role="button" class="btn btn-primary mr-1">Login</a>
          <a href="/signup" role="button" class="btn btn-light ml-1 my-sm-0">Sign Up</a>
      </span>
    {% endif %}
    </div>
  </div>
</header>
