{% extends "scheduling/base.html" %}

{% block content %}
<h1>Changes for 
    <span class="text-info">{{ term.semester }} {{ term.year }}</span>
</h1>
<hr />

<h2>Added</h2>
    <table id="scheduleAddTable" class="table table-sm table-striped compact">
        <thead class="table-dark">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Status</th>
                <th scope="col">Capacity</th>
                <th scope="col">Instructor</th>
                <th scope="col">Campus</th>
                <th scope="col">Location</th>
                <th scope="col">Days</th>
                <th scope="col">Start</th>
                <th scope="col">Stop</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        {% if added %}
        <tbody>
            {% for schedule in added %}
            <tr>
                <td>{{ schedule.course }}</td>
                <td>{{ schedule.course.name }}</td>
                <td>{{ schedule.section }}</td>
                <td>{{ schedule.status }}</td>
                <td>{{ schedule.capacity }}</td>
                <td>{{ schedule.instructor }}</td>
                <td>{{ schedule.campus }}</td>
                <td>{{ schedule.location }}</td>
                <td>{{ schedule.days }}</td>
                <td>{{ schedule.start_time }}</td>
                <td>{{ schedule.stop_time }}</td>
                <td>{{ schedule.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>


<h2 class="mt-3">Deleted</h2>
    <table id="scheduleDeleteTable" class="table table-striped compact">
        <thead class="table-dark">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Status</th>
                <th scope="col">Capacity</th>
                <th scope="col">Instructor</th>
                <th scope="col">Campus</th>
                <th scope="col">Location</th>
                <th scope="col">Days</th>
                <th scope="col">Start</th>
                <th scope="col">Stop</th>
                <th scope="col">Notes</th>
            </tr>
        </thead>
        {% if deleted %}
        <tbody>
            {% for schedule in deleted %}
            <tr>
                <td>{{ schedule.course }}</td>
                <td>{{ schedule.course.name }}</td>
                <td>{{ schedule.section }}</td>
                <td>{{ schedule.status }}</td>
                <td>{{ schedule.capacity }}</td>
                <td>{{ schedule.instructor }}</td>
                <td>{{ schedule.campus }}</td>
                <td>{{ schedule.location }}</td>
                <td>{{ schedule.days }}</td>
                <td>{{ schedule.start_time }}</td>
                <td>{{ schedule.stop_time }}</td>
                <td>{{ schedule.notes }}</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>


<h2 class="mt-3">Changed</h2>
    <table id="scheduleChangeTable" class="table table-striped compact">
        <thead class="table-dark">
            <tr>
                <th scope="col">Course</th>
                <th scope="col">Name</th>
                <th scope="col">Section</th>
                <th scope="col">Status</th>
                <th scope="col">Capacity</th>
                <th scope="col">Instructor</th>
                <th scope="col">Campus</th>
                <th scope="col">Location</th>
                <th scope="col">Days</th>
                <th scope="col">Start</th>
                <th scope="col">Stop</th>
                <th scope="col">Notes</th>
                <th scope="col">Source</th>

            </tr>
        </thead>
            <tbody>
            {% if gcis_changed %}
                {% for schedule in gcis_changed %}
                    <tr>
                        <td>{{ schedule.course }}</td>
                        <td>{{ schedule.course.name }}</td>
                        <td>{{ schedule.section }}</td>
                        <td>{{ schedule.status }}</td>
                        <td>{{ schedule.capacity }}</td>
                        <td>{{ schedule.instructor }}</td>
                        <td>{{ schedule.campus }}</td>
                        <td>{{ schedule.location }}</td>
                        <td>{{ schedule.days }}</td>
                        <td>{{ schedule.start_time }}</td>
                        <td>{{ schedule.stop_time }}</td>
                        <td>{{ schedule.notes }}</td>
                        <td>GCIS</td>
                    </tr>
                {% endfor %}
            {% endif %}

            {% if cams_changed %}
                {% for schedule in cams_changed %}
                    <tr>
                        <td class="text-muted">{{ schedule.course }}</td>
                        <td class="text-muted">{{ schedule.course.name }}</td>
                        <td class="text-muted">{{ schedule.section }}</td>
                        <td class="text-muted">{{ schedule.status }}</td>
                        <td class="text-muted">{{ schedule.capacity }}</td>
                        <td class="text-muted">{{ schedule.instructor }}</td>
                        <td class="text-muted">{{ schedule.campus }}</td>
                        <td class="text-muted">{{ schedule.location }}</td>
                        <td class="text-muted">{{ schedule.days }}</td>
                        <td class="text-muted">{{ schedule.start_time }}</td>
                        <td class="text-muted">{{ schedule.stop_time }}</td>
                        <td class="text-muted">None</td>
                        <td class="text-muted">CAMS</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
    </table>

    <div class="text-center mt-5 mb-5">
        <form method="GET" action="{% url 'download_change_summary_by_term' term %}">
            {% if total_changes %}
                <button class="btn btn-primary" role="button">Download</button>
            {% else %}
                <button class="btn btn-primary" role="button" disabled>Download</button>
            {% endif %}

        </form>
    </div>

    {% endblock content %}
