{% extends "scheduling/base.html" %}

{% block content %}
<!-- <h1>This is the homepage for Course.</h1> -->

<form action="{% url 'edit_instructor' instructor.id %}" method="POST">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            {{ form.first_name.label }} {{ form.first_name }}
        </div>
        <div class="form-group col-md-4">
            {{ form.last_name.label }} {{ form.last_name }}
        </div>
        <div class="form-group col-md-4">
            {{ form.hiring_status.label }} {{ form.hiring_status }}
        </div>
    </div>

    <div class="text-center mt-2">
        <button type="submit" class="btn btn-dark btn-lg ml-5">Save Changes</button>
    </div>

</form>

{% endblock content %}