{% extends "scheduling/base.html" %}

{% block content %}

<!-- <form action="{% url 'edit_course' course.id %}" method="POST">
    {% csrf_token %}

    <div class="form-row">
        <div class="form-group col-md-2">
            {{ form.subject.label }} {{ form.subject }}
        </div>
        <div class="form-group col-md-2">
            {{ form.number.label }} {{ form.number }}
            <div class="invalid-feedback">
                Invalid course number.
            </div>
        </div>
        <div class="form-group col-md-2">
            {{ form.credit.label }} {{ form.credit }}
            <div class="invalid-feedback">
                Invalid course credit.
            </div>
        </div>
        <div class="form-group col-md-6">
            {{ form.name.label }} {{ form.name }}
        </div>
    </div>

    <div class="text-center mt-2">
        <button type="submit" class="btn btn-primary btn-lg ml-5">Save Changes</button>
    </div>

</form> -->

{% endblock content %}
