{% extends "scheduling/base.html" %} 
{% block content %}
<h3>Welcome to the Course Scheduling App!</h3>
<hr class="mb-3" />


{% if not subject_list %}
  <div class="alert alert-danger">
    <ul>
      <li>You haven't picked any department yet. 
        Please go to the <a href="{% url 'update_subjects' %}">Department</a> page and pick them first.</li>
    </ul>
  </div>
{% endif %}


{% if dates %}
  <div class="alert alert-primary">
    <ul>
      <li>CAMS Last Update: <i>{{ dates.cams_update_at }}</i></li>
    </ul>
  </div>
{% endif %}


<div class="alert alert-info">
  <h5>Updates (01/08/2024)</h5>
  <ul>
    <li>The Summary tab on the left sidebar has been removed. If you use it to check conflicts, please let me know.</li>
    <li>Deleted schedules are NOT shown in the search results. They are under the Trash tab on the left sidebar.</li>
    <li>Please send your feedback to zhua@grayson.edu. I want to make the app work better for you.</li>
  </ul>

</div>


<div class="container mt-3">
  <div class="row justify-content-center">
    <h4 class="text-center mb-3">Search by <span class="text-info">Department</span></h4>
    <div class="col-5 d-flex justify-content-center">
      <form class="" action="{% url 'search' %}" method="GET">
            <div class="form-group">
              <div class="mb-3">
                {{ form1.term.label }}{{ form1.term }}
              </div>
              <div class="mb-3">
                {{ form1.subject.label }} {{ form1.subject }}
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Search
                </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col d-flex justify-content-center">
    <div class="divider"><span class="divider-text">OR</span></div>
  </div>

  <div class="row justify-content-center">
      <h4 class="text-center mb-3">Search by <span class="text-info">Course</span></h4>
      <div class="col-5 d-flex justify-content-center">
      <form  action="{% url 'search' %}" method="GET">
            <div class="form-group">
              <div class="mb-3">
                {{ form.term.label }}{{ form.term}}
              </div>
              <div class="mb-3">
                {{ form.course.label }} {{ form.course}}
              </div>
              <div class="mb-3">
                {{ form.section.label }} {{ form.section}}
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                  Search
                </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        // department
        $("#id_term_d").select2({theme: 'bootstrap-5'});
        $("#id_subject").select2({theme: 'bootstrap-5'});
        // course
        $("#id_term_c").select2({theme: 'bootstrap-5'});
        $("#id_course_c").select2({theme: 'bootstrap-5'});
    })
</script>

{% endblock content %}
