{% extends "scheduling/base.html" %}

{% block content %}
<h1>Instructors</h1>
<br />

{% if instructor_list %}
<table id="instructorTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Hiring Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructor_list %}
        <tr>
            <td>{{ instructor.first_name }}</td>
            <td>{{ instructor.last_name }}</td>
            <td>{{ instructor.hiring_status }}</td>
            <td> <a href="{%url 'edit_instructor' instructor.id %}">Edit</a> |
                <a href="{%url 'delete_instructor' instructor.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="text-center mt-2">
    <form method="GET" action="{% url 'add_instructor' %}">
        <button class="btn btn-dark btn-lg" role="button">Add Instructor</button>
    </form>
</div>
<br />
{% endblock content %}