{% extends "scheduling/base.html" %}

{% block content %}
<h1>Instructors</h1>
<br />

{% if instructor_list %}
<table id="instructorTable" class="table table-striped compact">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
        {% for instructor in instructor_list %}
        <tr>
            <td>{{ instructor.first_name }}</td>
            <td>{{ instructor.last_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock content %}