{% extends "scheduling/base.html" %}

{% block content %}
<h1>Recent schedules</h1>
<hr />

<div class="alert alert-warning">
  <strong>Warning!</strong> Please note that this history will be gone after the database is reset.
</div>

<div>
    <h2>Recently Edited</h2>
  <div class="table-responsive">
    <table class="table table-sm table-striped compact">
      <thead class="table-dark">
        <tr>
          <th scope="col">Term</th>
          <th scope="col">Course</th>
          <th scope="col">Section</th>
          <th scope="col">Status</th>
          <th scope="col">Capacity</th>
          <th scope="col">Instructor</th>
          <th scope="col">Campus</th>
          <th scope="col">Location</th>
          <th scope="col">Days</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
          <th scope="col">Note</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

      {% if latest_edited %}
      <tbody>
        {% for schedule in latest_edited %}
        <tr>
          <td>{{ schedule.term }}</td>
          <td>{{ schedule.course }}</td>
          <td>{{ schedule.section }}</td>
          <td>{{ schedule.status }}</td>
          <td>{{ schedule.capacity }}</td>
          <td>{{ schedule.instructor }}</td>
          <td>{{ schedule.campus }}</td>
          <td>{{ schedule.location }}</td>
          <td>{{ schedule.days }}</td>
          <td>{{ schedule.start_time }}</td>
          <td>{{ schedule.stop_time }}</td>
          <td>{{ schedule.notes }}</td>
          <td style="text-align: center;">
            <a
              href="{% url 'edit_schedule' schedule.id %}"
              style="padding-right: 10%"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
            <a
              href="{% url 'duplicate_schedule' schedule.id %}"
              style="padding-right: 10%"
              ><i class="fa-solid fa-copy"></i
            ></a>
            <a href="{% url 'delete_schedule' schedule.id %}"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endif %}
        </table>
    </div>

  <h2>Recently Added</h2>
    <div class="table-responsive">
    <table class="table table-sm table-striped compact">
      <thead class="table-dark">
        <tr>
          <th scope="col">Term</th>
          <th scope="col">Course</th>
          <th scope="col">Section</th>
          <th scope="col">Status</th>
          <th scope="col">Capacity</th>
          <th scope="col">Instructor</th>
          <th scope="col">Campus</th>
          <th scope="col">Location</th>
          <th scope="col">Days</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
          <!-- make the note hoverable -->
          <th scope="col">Note</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% if latest_added %}
      <tbody>
        {% for schedule in latest_added %}
        <tr>
          <td>{{ schedule.term }}</td>
          <td>{{ schedule.course }}</td>
          <td>{{ schedule.section }}</td>
          <td>{{ schedule.status }}</td>
          <td>{{ schedule.capacity }}</td>
          <td>{{ schedule.instructor }}</td>
          <td>{{ schedule.campus }}</td>
          <td>{{ schedule.location }}</td>
          <td>{{ schedule.days }}</td>
          <td>{{ schedule.start_time }}</td>
          <td>{{ schedule.stop_time }}</td>
          <td>{{ schedule.notes }}</td>
          <td style="text-align: center;">
            <a
              href="{% url 'edit_schedule' schedule.id %}"
              style="padding-right: 10%"
              ><i class="fa-solid fa-pen-to-square"></i
            ></a>
            <a
              href="{% url 'duplicate_schedule' schedule.id %}"
              style="padding-right: 10%"
              ><i class="fa-solid fa-copy"></i
            ></a>
            <a href="{% url 'delete_schedule' schedule.id %}"
              ><i class="fa-solid fa-trash"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    </div>

  <h2>Recently Deleted</h2>
    <div class="table-responsive">
    <table class="table table-sm table-striped compact">
      <thead class="table-dark">
        <tr>
          <th scope="col">Term</th>
          <th scope="col">Course</th>
          <th scope="col">Section</th>
          <th scope="col">Status</th>
          <th scope="col">Capacity</th>
          <th scope="col">Instructor</th>
          <th scope="col">Campus</th>
          <th scope="col">Location</th>
          <th scope="col">Days</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
          <!-- make the note hoverable -->
          <th scope="col">Note</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      {% if latest_deleted %}
      <tbody>
        {% for schedule in latest_deleted %}
        <tr>
          <td>{{ schedule.term }}</td>
          <td>{{ schedule.course }}</td>
          <td>{{ schedule.section }}</td>
          <td>{{ schedule.status }}</td>
          <td>{{ schedule.capacity }}</td>
          <td>{{ schedule.instructor }}</td>
          <td>{{ schedule.campus }}</td>
          <td>{{ schedule.location }}</td>
          <td>{{ schedule.days }}</td>
          <td>{{ schedule.start_time }}</td>
          <td>{{ schedule.stop_time }}</td>
          <td>{{ schedule.notes }}</td>
          <td style="text-align: left;">
            <a
              href="{% url 'restore_schedule' schedule.id %}"
              ><i class="fa-solid fa-clock-rotate-left"></i
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
    </div>
</div>


{% endblock content %}
