{% extends "scheduling/base.html" %} {% block content %}
<h1>
  Schedules for
  <span class="text-info">{{ term.semester }} {{ term.year }}</span>
</h1>
<br />

<table id="scheduleTable" class="table table-striped table-responsive-lg compact">
  <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Section</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Capacity</th>
      <th scope="col">Instructor</th>
      <th scope="col">Campus</th>
      <th scope="col">Location</th>
      <th scope="col">Days</th>
      <th scope="col">Start</th>
      <th scope="col">Stop</th>
      <th scope="col">Note</th>
      {% if term.active == 'T' %}
      <th scope="col">Action</th>
      {% endif %}
    </tr>
  </thead>
  {% if schedule_list %}
  <tbody>
    {% for schedule in schedule_list %}
    <tr>
      <td>{{ schedule.course }}</td>
      <td>{{ schedule.section }}</td>
      <td>{{ schedule.course.name }}</td>
      <td>{{ schedule.status }}</td>
      <td>{{ schedule.capacity }}</td>
      <td>{{ schedule.instructor }}</td>
      <td>{{ schedule.campus }}</td>
      <td>{{ schedule.location }}</td>
      <td>{{ schedule.days }}</td>
      <td>{{ schedule.start_time }}</td>
      <td>{{ schedule.stop_time }}</td>
      <td>{{ schedule.notes }}</td>
      {% if term.active == 'T' %}
      <td>
        <a href="{%url 'edit_schedule' term schedule.id %}">Edit</a> |
        <a href="{%url 'delete_schedule' term schedule.id %}">Delete</a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>

{% if term.active == 'T' %}
<br />
<div class="text-center mt-2">
  <form method="GET" action="{% url 'courses_with_term' term %}">
    <button class="btn btn-dark btn-lg" role="button">Add Schedule</button>
  </form>
</div>
<br />
{% endif %}
<br />
{% endblock content %}