
{% extends "scheduling/base.html" %}

{% block content %}
<p><span class="fs-4">Search results for </span> <span class="text-info fs-1"> {{ term }} </span> 
    {% if subject %}
        <span class="text-primary fs-1">{{ subject }}</span>
    {% else %}
        <span class="text-primary fs-1">{{ course }} {{ section }}</span>
    {% endif %}
</p>

<div class="table-responsive mt-4">
    <table id="scheduleSearchTable" class="table table-sm table-striped compact">
        <thead class="table-dark">
            <tr>
                {% if show_course %}
                    <th scope="col">Course</th>
                {% endif %}
                <th scope="col">Section</th>
                <th scope="col">Status</th>
                <th scope="col">Capacity</th>
                <th scope="col">Instructor</th>
                <th scope="col">Campus</th>
                <th scope="col">Location</th>
                <th scope="col">Days</th>
                <th scope="col">Start</th>
                <th scope="col">Stop</th>
                <!-- make the note hoverable -->
                <th scope="col">Note</th> 
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedule_list %}
            <tr>
                {% if show_course %}
                    <td>{{ schedule.course}}</td>
                {% endif %}
                <td>{{ schedule.section }}</td>
                <td>{{ schedule.status }}</td>
                <td>{{ schedule.capacity }}</td>
                <td>{{ schedule.instructor }}</td>
                <td>{{ schedule.campus }}</td>
                <td>{{ schedule.location }}</td>
                <td>{{ schedule.days }}</td>
                <td>{{ schedule.start_time }}</td>
                <td>{{ schedule.stop_time }}</td>
                <td>{{ schedule.notes }}</td>
                <td>
                <a
                    href="{% url 'edit_schedule' schedule.id %}"
                        style="padding-right: 5%"
                    ><i class="fa-solid fa-pen-to-square"></i
                ></a>
                <a
                    href="{% url 'duplicate_schedule' schedule.id %}"
                        style="padding-right: 5%"
                    ><i class="fa-solid fa-copy"></i
                ></a>
                <a href="{% url 'delete_schedule' schedule.id %}" 
                    ><i class="fa-solid fa-trash"></i
                ></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if not hide_add_button %}
    <div class="text-center mt-2">
        <form method="GET" action="{% url 'add_new_schedule' term.id course.id %}">
            <button class="btn btn-primary" role="button">Add New Section</button>
        </form>
    </div>
{% endif %}

{% endblock content %}
