{% extends "scheduling/base.html" %}

{% block content %}

<h1>Department</h1>
<hr />

<script>
    function toggleSelectAll(source) {
        checkboxes = document.getElementsByName('subjects');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }
    }

    $(document).ready(function() {
        $('#id_of_subjects_field').select2({
            width: '100%'
        });
    });

</script>


<form class="mt-2" method="POST">
    {% csrf_token %} 

    <label>
        <input type="checkbox" id="select-all" name="select-all" value="select-all" onchange="toggleSelectAll(this)" > Select All
    </label>

    <br />


    <div class="flex-container">
        {% for letter, subject in grouped_subjects.items %}
            <div class="flex-item">
                <h3 class="text-light bg-dark mt-4" style="position: sticky; top: 0;">{{ letter }}</h3>
                <div class="row">
                    {% for s in subject %}
                        <div class="col-md-2"> <!-- Adjust the column size as needed -->
                            <label>
                                <input type="checkbox" name="subjects" value="{{ s }}" {% if s in selected_subjects %} checked {% endif %} > {{ s }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <br />
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-2" style="width: 200px;">Submit</button>
    </div>
</form>
<br />


{% endblock content %}
