{% include "includes/header.html" %}

<body>

    {% include "includes/navbar.html" %}
    <br>


    <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="toast-body bg-primary text-light" style="position: absolute; top: 10; right: 0;">{{message}}</div>
          {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>

    <script>
      $(".toast-body").delay(2000).fadeOut('slow');
    </script>
</body>

{% include "includes/footer.html" %}
